@import '../../styles/varibles';

.years{
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 150px;
  font-weight: 700;

  @media screen and (max-width: 600px){
    & {
      font-size: 56px;
      margin: 0 20px 59px 20px;
    }
  }
  .year-first{
    color: $blue;
  }
  .year-last{
    color: $fuschia;
  }
}

button{
  color: $black-blue;
  background-color: #ffff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  font-weight: 700;
  border: 0.5px solid;
    &:disabled{
      opacity: 0.5;
  }
}

