@import '../../styles/varibles';

.years{
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 100px;
  font-weight: 700;
  .year-first{
    color: $fuschia;
  }
  .year-last{
    color: $blue
  }
}

button{
  color: $black-blue;
  background-color: #ffff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  font-weight: 700;
  border: 0.5px solid;
    &:disabled{
      opacity: 0.5;
  }
}